
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-12 col-sm-4">
      <div class="card p-0 ">
        <img src="<%= asset_path 'pete.jpg' %>" class="d-block mx-lg-auto img-fluid rounded-5"
          alt="Pete Argent laughing" width="700" height="500" loading="lazy">
      </div>
      
    </div>
    <div class="col col-lg-8">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Solving IRL problems with future tech</h1>
      <p class="lead">Designing and building converging, emerging technology.</p>
      <p class="lead">I love inspiring people to learn digital skills so they can design and build solutions to the world's problems with converging, emerging technology.</p>
    </div>
  </div>