<div id="card-carousel" class="splide card rounded-5 bg-secondary-subtle" aria-label="carousel">
      <div class="splide__track">
        <ul class="splide__list">
          
          <li class="splide__slide">
              <div class="row row-cols-1 g-0 carousel-row">
                <div class="col-12 col-md-6 card-img-bg rounded-5 rounded-end-0" style="background:url(<%= asset_path 'KPMG.jpg' %>) no-repeat center/cover;">
                </div>
                <div class="col">
                  <div class="card-body p-4 rounded-5 rounded-start-0 border-start-0">
                    <h4 class="card-title">Corporate training</h4>
                    <p class="card-text">I work with tech startup founders to design, develop and launch their products.</p>
                    <!-- <p>&nbsp;</p> -->
                    <!-- <p>&nbsp;</p> -->
                  </div>
                </div>
              </div>
          </li>
    
          <li class="splide__slide">
              <div class="row row-cols-1 g-0 carousel-row">
                <div class="col-12 col-md-6 card-img-bg rounded-5 rounded-end-0" style="background:url(<%= asset_path 'p-chris.jpg' %>) no-repeat center/cover;">
                </div>
                <div class="col">
                  <div class="card-body p-4 rounded-5 rounded-start-0 border-start-0">
                    <h4 class="card-title">University workshops</h4>
                    <p class="card-text">I work with tech startup founders to design, develop and launch their products.</p>
                  </div>
                </div>
              </div>
          </li>
    
    
          <li class="splide__slide">
              <div class="row row-cols-1 g-0 carousel-row">
                <div class="col-12 col-md-6 card-img-bg rounded-5 rounded-end-0" style="background:url(<%= asset_path 'p-bang.jpg' %>) no-repeat center/cover;">
                </div>
                <div class="col">
                  <div class="card-body p-4 rounded-5 rounded-start-0 border-start-0">
                    <h4 class="card-title">Digital product design & development</h4>
                    <p class="card-text">I work with tech startup founders to design, develop and launch their products.</p>
                    <p><a href="https://velv.cc" target="_blank" class="btn btn-sm btn-outline-secondary">Check out Velv</a></p>
                  </div>
                </div>
              </div>
          </li>
        </ul>
      </div>
    </div>