<div class="row">
          <div class="col-6 mb-3">
            <a href="https://github.com/pedrogrande" target="_blank">
              <div class="card rounded-5 p-4 bg-primary-subtle border-0">
                <%= image_tag 'linkedin-solid.svg' , class: 'img-fluid hover-effect' %>
              </div>
            </a>
          </div>

          <div class="col-6 mb-3">
            <a href="https://github.com/pedrogrande" target="_blank">
               <div class="card rounded-5 p-4 bg-info-subtle border-0">
                <%= image_tag 'github-solid.svg' , class: 'img-fluid hover-effect' %>
              </div>
            </a>
          </div>
       
          <div class="col-6 mt-2">
              <a href="https://www.twitter.com/pedrogrande" target="_blank">
                <div class="card rounded-5 p-4 bg-secondary-subtle border-0">
                <%= image_tag 'twitter.svg' , class: 'img-fluid hover-effect' %>
            </div>
            </a>
          </div>
          
          <div class="col-6 mt-2">
              <a href="https://www.instagram.com/pedrogrande" target="_blank">
                <div class="card rounded-5 p-4 bg-warning-subtle border-0">
                <%= image_tag 'instagram.svg' , class: 'img-fluid hover-effect' %>
              
            </div>
            </a>
          </div>

        </div>