<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-secondary">&copy; 2023 Peter Argent</p>

       <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
          <a class="text-dark" href="https://www.twitter.com/pedrogrande">
            <%= inline_svg_tag 'twitter.svg' %>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-dark" href="https://www.linkedin.com/in/peterargent">
            <%= inline_svg_tag 'linkedin-solid.svg' %>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-dark" href="https://www.github.com/pedrogrande">
            <%= inline_svg_tag 'github-circle.svg' %>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-dark" href="https://www.instagram.com/pedrogrande">
            <%= inline_svg_tag 'instagram.svg' %>
          </a>
        </li>
      </ul>

      </footer>